*{
    box-sizing: border-box;
}
:root {
    --background: rgb(17, 17, 17);
}
body{
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}