:root {
    --primary-color: rgb(60, 11, 175);
    --secondary-color: rgb(168, 168, 168);
    --background: rgba(27, 27, 27, 0.959);
}

@font-face {
    font-family: 'FiveFontsastFreddy';
    src: url("./../fonts/FiveFontsatFreddy\'s-Regular.ttf");
}

.header {
    background-color: var(--primary-color);
    color: white;
    position: sticky;
    top: 0px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding-top: 15px;
}

.header__title {
    padding: 0px;
    margin: 0px;
    font-family: FiveFontsastFreddy;
}

.header__icon {
    font-size: 2rem;
    margin-left: 10px;
    padding-bottom: 13px;
}

.launches__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 10px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: FiveFontsastFreddy;
    font-size: 0.8rem;
}

.list {
    transition: all 0.5s;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 20px;
}

.list:hover {
    transform: scale(1.05);
}

.launches {
    padding-top: 20px;
}

.list__img {
    max-width: 150px;
    margin-bottom: 10px;
}

.list__link {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.list__link p {
    margin: 0px;
}

.list__link:hover {
    text-decoration: underline;
}

/* ventana de info */

.windowDetails__closeButton {
    border-radius: 5px;
    display: block;
    padding: 10px;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: white;
    text-align: right;
}

.windowDetails {
    background-color: var(--background);
    position: fixed;
    width: 95%;
    height: 88vh;
    top: 85px;
    left: 40px;
    display: none;
    font-family: FiveFontsastFreddy;
    overflow-y: scroll;
    font-size: 0.8rem;
    padding: 20px;
    color: white;
}

.windowDetails__list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 32%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    gap: 20px;
    width: 100%;
}

.imgGallery {
    max-width: 250px;
    height: 200px;
    object-fit: cover;
}

.abrir {
    animation-name: abrir;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.cerrar {
    animation-name: cerrar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.windowdetails__wiki {
    color: white;
}

.windowDetails__data {
    color: var(--secondary-color);
}

.windowDetails__content {
    font-size: 1.1rem;
}
.windowDetails__name{
    font-size: 1.3rem;
    margin: 0px;
}
.windowDetails__div{
    display: flex;
    align-items: top;
    justify-content: space-between;
}
.windowdetails__asteroids{
    width: 32%;
}
.windowdetails__gallery{
    width: 32%;
}
.windowDetails__asteroidList{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 10px;
}
.windowDetails__asteroid-data{
    color: var(--secondary-color);
    margin: 0px;
    font-size: 0.8rem;
}
.windowDetails__asteroid-info{
    font-size: 0.8rem;
    margin-bottom: 0px;
    margin-top: 0px;
}
.windowDetails__asteroid-li{
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
}
@keyframes abrir {
    from {
        opacity: 0%;
        transform: scaleX(0%);
    }

    to {
        opacity: 100%;
        transform: scaleX(95%);
    }
}

@keyframes cerrar {
    from {
        opacity: 100%;
        transform: scaleX(95%);
    }

    to {
        opacity: 0%;
        transform: scaleX(0%);
    }
}